.header {
  padding: 15px;
  text-align: center;
  background: #001540;
  color: white;
  font-size: 30px;
  width: 100%;
}

h1 {
  	font-family: 'Bakbak One', cursive;
    color: #FFFFFF;
    font-size: 72px;
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
  	text-align: center;
  	padding-top: 20px;
  }

h4 {
  font-family: 'Bakbak One', cursive;
  color: #001540;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

body {
  	font-family: 'Lato', sans-serif;
    color: #001540;
  	background-color: #DBF3FA;
}

.container {
  display: flex;
  flex-direction: row;
}

img {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
  width: 80%;
}

p {
  text-align: center;
  margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#p-resume {
  text-align: left;
  margin-left: auto;
	margin-right: auto;
	width: 90%;
}

button {
  font-family: 'Lato', sans-serif;
  border-style: groove;
  border-radius: 12px;
  transition-duration: 0.4s;
  background-color: #001540;
  color: #FFFFFF;
  size: 100px;
  padding: 15px 32px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: default;
  width: 200px;
  height: 100px;
}

button:hover {
  background-color: #FFFFFF;
  color: #001540;
}

footer {
  display: block;
  width: 100%;
  length: 100%;
  text-align: center;
  padding: 10px;
  background-color: #001540;
  color: #FFFFFF;
}

#resume-list {
  list-style: inherit;
  margin-left: auto:
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 80%;
}

ul {
  list-style: none;
  padding-top: 25px;
  padding-bottom: 150px;
  padding-right: 5px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
  width: 5%;
}

ul li {
  padding: 12px;
  margin: 12px;
}

h6 {
	font-family: sans-serif;
  color: #FFFFFF;
	font-size: 12px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}
